# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
terraform
.DS_Store

account.json
.vscode
/manning-code.iml
**/.terraform.lock.hcl
/chapter3/complete/madlibs.zip
/chapter2/listing2.1/plan.out
/chapter2/listing2.1/plan.json
